<!DOCTYPE html>
<html>
<head>
  <%= render "shared/html_head" %>
</head>
<body class="blank front <%= browser_detection %>">

  <%= render "navigations/front_header"%>

  <%= render "shared/flash_msgs" %>

  <div id="body">

    <%= yield %>

  </div>

  <%= javascript_include_tag 'application' %>

  <script type="text/javascript" charset="utf-8">
    I18n.defaultLocale = "de";
    I18n.locale = "<%= I18n.locale.to_s %>";
    I18n.fallbacks = true;
  </script>
</body>
</html>
